<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

        <div class="jumbotron jumbotron-fluid"style="text-align:center">
                <div class="container">
                  <h1 class="display-4">페이지 소개</h1>
                  <br>
                  <p class="lead">글자를 세주는 웹페이지입니다.</p>
                  <br>
                  <a class="btn btn-dark" href="{%url 'home'%}" role="button">메인화면으로 돌아가기</a>
                </div>
              </div>

  
</body>