<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
        <div class="jumbotron"style="text-align:center">
                <h1 class="display-4">Word count!</h1>
                <p class="lead">아래 박스에 문장을 작성하고 입력하기 버튼을 눌러보세요.</p>
                <hr class="my-4">
                
                <a class="btn btn-dark" href="/about/" role="button">페이지 소개</a>

                <br><br>
                <form action="/result/">
                    <textarea cols="40" rows="10" name="fulltext"></textarea>
                    <br><br>
                    <button class="btn btn-dark" type="submit">입력하기!</button>
                    
                </form>
            
              </div>
  
</body>